<!DOCTYPE html>
<html ng-app="todoApp">
<head>
    <title>AngularJS Lunch and Learn</title>
    <link rel="stylesheet" href="styles/main.css"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css"/>
</head>
<body ng-controller="TodoController">

<h1>Todo App</h1>

<form name="addTodoForm" novalidate="" ng-submit="addTodo()">
    <select name="project" required=""
            ng-model="todo.project">
        <option value="">Project</option>
        <option value="MPM">MPM</option>
        <option value="CLAIMS">Claims</option>
        <option value="OTHER">Other</option>
    </select>

    <input type="text" name="description" size="40" required=""
           ng-model="todo.description"/>

    <button>Add</button>
</form>

<ul>
    <li ng-repeat="t in todoList">
        <label ng-class="{done:t.done}">
            <input type="checkbox" ng-model="t.done"/> {{ t.description }}
        </label>
        <span class="project">{{ t.project }}</span>
    </li>
</ul>

<p>
    <a href=""><i class="icon-trash"></i> Delete completed todo</a>
</p>

<!-- the js code -->
<script src="vendor/angular.js"></script>
<script src="app/todo.js"></script>
</body>
</html>